openapi: 3.0.3
info:
  description: |-
    # Introduction

    Welcome to the Nomics Cryptocurrency & Bitcoin API. To sign up for an API key please [go here](https://p.nomics.com/cryptocurrency-bitcoin-api/).

    [nomics.com](https://nomics.com) is built entirely with the Nomics API. Everything
    we've done on [nomics.com](https://nomics.com) you can do with our API. There are
    no internal API endpoints.

    If you need support, reach out to use at our [forums](https://forums.nomics.com/).

    # General

    ## API Server URL

    The Nomics API runs at `https://api.nomics.com/v1`. All requests should be prefixed
    by the server URL.

    ## JSON and CSV Support

    By default, all endpoints serve data as JSON. However, by passing `format=csv` in the URL,
    some endpoints will return CSV data. This can be used in Google Sheets via the `IMPORTDATA`
    function.

    CSV responses will not contain a header row, this is so that data can be easily concatenated
    from multiple requests. The fields will be rendered in the same order as the JSON fields. See
    the endpoint's documentation for an example.

    Not all endpoints support CSV. Endpoints that support CSV will have the `format` parameter in
    the parameters section.

    ## Errors

    The Nomics API uses standard HTTP status codes to indicate success or failure. 200
    represents success, 4xx represents a user error (such as a problem with your key),
    and 5xx represents a problem with our API.

    ## Versioning

    We follow Semantic Versioning. That means our API is versioned as Major.Minor.Patch.
    For example, Version 1.2.3 has major version 1, minor version 2, and patch version 3.

    Major version changes indicate that we have altered
    the API significantly and it is no longer compatible with a previous version. Major
    versions are also used as the API URL prefix.

    When we update the major version, we will not remove the previous version without notice
    to API customers and a deprecation period to allow everyone to smoothly update to the new
    version.

    Minor version changes indicate that we have added new functionality without breaking
    any existing functionality. An API client is compatible with future minor versions. Note
    that a minor version update may add a new field to an existing API endpoint's response. Your
    API client must ignore fields it does not understand in order to be compatible with future
    minor versions.

    Patch version changes indicate we fixed a bug or security vulnerability. Patch versions
    don't add new functionality.

    ## Cross Origin Resource Sharing (CORS)

    This API supports Cross Origin Resource Sharing, which allows you to make API requests directly
    from your user's browser.

    To use CORS, you must provide Nomics with the domains on which your application will run so that
    we can whitelist them for CORS access.

    Requests from `localhost`, `127.0.0.1`, and `0.0.0.0` will always succeed to aid in development.

    ## Demo Application

    A demo application using the Nomics API, CORS, and React is available on Glitch.com. This can help
    you get started using the Nomics API. Keep in mind it uses the demo key, which is rotated frequently.
    You should get your own API key before deploying an app to production. Check it out:

    <div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
      <iframe src="https://glitch.com/embed/#!/embed/nomics-api-demo?path=README.md" alt="nomics-api-demo on glitch" style="height: 100%; width: 100%; border: 0;"></iframe>
    </div>

    ## Demo Spreadsheet

    Here is a demo of using the Nomics API with Google Sheets.

    <iframe width="100%" height="400px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShn2iWjvqQ0ueBa9l9g1UBYVM92OZSgZ4nmp0rWuykvHPrvyMyMeSN4r0Orj0ACEIIKdCz6cc5abCw/pubhtml?widget=true&amp;headers=false"></iframe>

    ### Formulas

    * A2: `=IMPORTDATA("https://api.nomics.com/v1/prices?key=your-key-here&format=csv")`
    * Column F: `=LOOKUP(D2,A:A,B:B)` finds D2 (BTC) in column A and pulls the price from column B
    * Column G: `=E2*F2`
    * Column H: `=G2/I$2`
    * Column I: `=SUM(G:G)`

    # SDKs and Libraries

    ## By Nomics
    - [Nomics JavaScript Client](https://github.com/nomics-crypto/nomics-javascript)

    ## Community Submissions
    - [Nomics.com Swift SDK](https://forums.nomics.com/t/swift-sdk-supporting-ios-macos-tvos-and-watchos/) by Nick DiZazzo
    - [Nomics Node.js Library](https://forums.nomics.com/t/i-made-a-library-for-node-js/) by mikunimaru
    - [Nomics Python Wrapper](https://forums.nomics.com/t/python-package-for-nomics-api/119) by Taylor Facen
    - [Python Wrapper for Nomics](https://github.com/AviFelman/py-nomics) by Avi Felman

    We love watching developers explore new use-cases with our API. Whether you're tinkering on a small side project or building an open-source resource, please share what you're up to in our [forums](https://forums.nomics.com/).

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  title: Nomics Cryptocurrency & Bitcoin API
  version: 1.0.0
servers:
- description: API Server
  url: https://api.nomics.com/v1
security:
- Key: []
tags:
- description: |
    ### What are OHLCV Candles?

    OHLCV Candles is an abbreviation of "Open, High, Low, Close, and Volume Candlestick Data". Each "Candle"
    represents a point in time of an asset's price history.

    For example, take the following pricing data:

    | Month    | High | Open | Close | Low |
    |----------|------|------|-------|-----|
    | January  | $70  | $20  | $50   | $15 |
    | February | $66  | $50  | $45   | $25 |
    | March    | $80  | $45  | $62   | $30 |
    | April    | $95  | $62  | $85   | $50 |
    | May      | $90  | $85  | $70   | $60 |

    A candlestick chart of this data in Google Sheets looks like this:

    ![Candlestick Chart](https://s3.us-east-2.amazonaws.com/nomics-api-documentation/candlestick-chart.png)

    The lines extending from the boxes are called "wicks" and they represent the high and low for that time
    period. The top and bottom of the boxes represent the open and close. Different visualizations of candles
    have different ways of conveying which of the top and bottom of the boxes are the open and close. In this
    case, with Google Sheets, candles that close higher than they open are solid colors, while candles that
    close lower than they open are transparent.

    ### How are Candles Built?

    At Nomics, we have three methods of building candles:

    1. Building candles from raw, gapless trade execution data (sometimes called "tick data")
    2. Ingesting candles directly from exchanges, and building intermediate sizes
    3. Ingesting 24 hour tickers from exchanges, and extrapolating estimated candles

    The first method, trades, is greatly preferred as it yields the most accurate and trustworthy data. The second
    method, candles, is also very accurate, but without the underlying trade data, it is not as transparent. The
    third method, tickers, is the lowest quality source and should only be used as an estimate of pricing activity.

    ### Why don't candles show up right away?

    You may notice that candles don't show up immediately after they start. For example, at 12:01am, you may not see
    a daily, hourly, or even a minute candle for 12:00am yet. This is because several steps need to occur in order to
    build a candle:

    1. Trades must be executed on an exchange. If there are no trades after 12:00am for a market or currency, there
    is simply no data to represent.
    2. Trades must be ingested into Nomics. We ingest data as fast as possible, but due to exchange rate limits and
    limitations on the speed of data across the internet, there is always a delay between a trade being executed and
    when it arrives in the Nomics database.
    3. An Exchange Candle must be built. Once we have the trade in our database, we then aggregate all trades within
    the candle's time range in order to build and store the candle.
    4. An Aggregate Candle must be built. After an Exchange Candle is built (which represents a single market on a
    single exchange) we must build an Aggregated Candle (which represents an asset across all markets and exchanges)

    Every step in this pipeline takes time to compute, which means that it may be seconds, or even minutes before
    a trade is fully represented by all candle types in our data set.

    For more information about update frequencies, see the descriptions of our candle types below.
  name: Candles*
paths:
  /currencies/ticker:
    get:
      description: |
        Price, volume, market cap, and rank for all currencies across 1 hour, 1 day, 7 day, 30 day, 365 day, and year to date intervals. Current prices are updated every 10 seconds.
      operationId: getCurrenciesTicker
      parameters:
      - description: |
          Comma separated list of Nomics Currency IDs to filter result rows
        example: BTC,ETH,XRP
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated time interval of the ticker(s). Default is `1d,7d,30d,365d,ytd`.
        example: 1d,30d
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          - 365d
          - ytd
          type: string
        style: form
      - deprecated: true
        description: Currency to quote ticker price, market cap, and volume values.
          Must be a valid currency from [Exchange Rates](#operation/getExchangeRates).
          Default is `USD`.
        example: EUR
        explode: true
        in: query
        name: quote-currency
        required: false
        schema:
          type: string
        style: form
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        example: EUR
        explode: true
        in: query
        name: convert
        required: false
        schema:
          type: string
        style: form
      - description: |
          Status by which to filter currencies. If not provided, all currencies are shown.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - inactive
          - dead
          type: string
        style: form
      - description: |
          Further filter the set of currencies.  The `new` filter returns currencies that have recently been priced by Nomics and `any` returns currencies regardless of their state.  The `any` filer may be used to retrieve new-but-stale currencies that are listed under `new`, but are no longer active.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - any
          - new
          type: string
        style: form
      - description: |
          How to sort the returned currencies.  `rank` sorts by rank
          ascending and `first_priced_at` sorts by when each
          currency was first priced by Nomics descending.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - rank
          - first_priced_at
          type: string
        style: form
      - description: |
          Whether to include [Transparent Volume](https://blog.nomics.com/essays/transparent-volume/) and transparent market cap information in the response. Default is `false`. This option is only available to customers of our paid API plans.
        example: false
        explode: true
        in: query
        name: include-transparency
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          The maximum number of items to return per paginated response.
          Paginated responses include an additional response header,
          `X-Pagination-Total-Items`, which represents the total number
          of items available after all the request filters have been
          applied.  Must be between `1` and `100` (inclusive).
        example: 100
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          Which page of items to get.  Only applicable when `per-page` is also supplied.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: Price, volume, market cap, and rank for all currencies
        "401":
          description: Authentication information is missing or invalid
      summary: Currencies Ticker
      tags:
      - Currencies
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/currencies/ticker?key=your-key-here&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/currencies/ticker?key=your-key-here&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/currencies/ticker?key=your-key-here&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/currencies/ticker?key=your-key-here&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/currencies/ticker?key=your-key-here&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1"
          print(urllib.request.urlopen(url).read())
  /currencies:
    get:
      description: |
        The currencies endpoint returns all the currencies and their metadata that Nomics supports.
      operationId: getCurrencies
      parameters:
      - description: |
          Comma separated list of Nomics Currency IDs to filter result rows
        example: BTC,ETH,XRP
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma separated list of currency attributes to filter result columns
        example: id,name,logo_url
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_1'
                type: array
            text/csv:
              example: BTC
              schema:
                type: string
          description: A list of Nomics Currencies
        "401":
          description: Authentication information is missing or invalid
      summary: Currencies Metadata
      tags:
      - Currencies
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/currencies?key=your-key-here&ids=BTC,ETH,XRP&attributes=id,name,logo_url"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/currencies?key=your-key-here&ids=BTC,ETH,XRP&attributes=id,name,logo_url")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/currencies?key=your-key-here&ids=BTC,ETH,XRP&attributes=id,name,logo_url")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/currencies?key=your-key-here&ids=BTC,ETH,XRP&attributes=id,name,logo_url")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/currencies?key=your-key-here&ids=BTC,ETH,XRP&attributes=id,name,logo_url"
          print(urllib.request.urlopen(url).read())
  /currencies/sparkline:
    get:
      description: |
        The currencies sparkline endpoint returns prices for all currencies within a customizable time interval
        suitable for sparkline charts.

        **Note** the timestamps and prices are built off of OHLCV candles using the close price. This means that the timestamp
        represents the start of the candle, and the price is the close price of that candle. This means the response's final timestamp
        and price value are always as current as possible, but also that the price is effectively "off" by one candle. This endpoint
        is designed to serve as a convenient way to render sparklines, if you need exactly aligned times and prices you can use the
        [Aggregated OHLCV Candles endpoint](#operation/getCandles).
      operationId: getCurrenciesSparkline
      parameters:
      - description: |
          Comma separated list of Nomics Currency IDs to filter result rows
        example: BTC,ETH,XRP
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          example: EUR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_2'
                type: array
          description: Currency performance over time for all currencies over the
            requested time period.
        "401":
          description: Authentication information is missing or invalid
      summary: Currencies Sparkline
      tags:
      - Currencies
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/currencies/sparkline?key=your-key-here&ids=BTC,ETH,XRP&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/currencies/sparkline?key=your-key-here&ids=BTC,ETH,XRP&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/currencies/sparkline?key=your-key-here&ids=BTC,ETH,XRP&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/currencies/sparkline?key=your-key-here&ids=BTC,ETH,XRP&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/currencies/sparkline?key=your-key-here&ids=BTC,ETH,XRP&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /global-ticker:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        Globally-aggregated market cap and volume data over various
        intervals across all currencies.

        The total `volume` fields are computed by summing the
        `spot_volume` and `derivative_volume` fields at each interval.
      operationId: getGlobalTicker
      parameters:
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          example: EUR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: The global ticker
        "401":
          description: Authentication information is missing or invalid
      summary: Global Ticker
      tags:
      - Global*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/global-ticker?key=your-key-here"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/global-ticker?key=your-key-here")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/global-ticker?key=your-key-here")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/global-ticker?key=your-key-here")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/global-ticker?key=your-key-here"
          print(urllib.request.urlopen(url).read())
  /supplies/history:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        Supply history per currency for every day in a time range.
      operationId: getSupplyHistory
      parameters:
      - description: Currency ID
        example: BTC
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_4'
                type: array
            text/csv:
              example: 05/14/2018 00:04:31,17052037.0,21000000.0
              schema:
                type: string
          description: Daily supply history for a currency.
        "401":
          description: Authentication information is missing or invalid
      summary: Supply History
      tags:
      - Currencies*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/supplies/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/supplies/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/supplies/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/supplies/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/supplies/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /supplies/interval:
    get:
      deprecated: true
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        Open and close supply information for all currencies between a customizable time interval.
      operationId: getSuppliesInterval
      parameters:
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_5'
                type: array
            text/csv:
              example: BTC,17032187.0,21000000.0,05/14/2018 00:04:31,17052037.0,21000000.0,05/24/2018
                14:19:34
              schema:
                type: string
          description: Open and close supply information
        "401":
          description: Authentication information is missing or invalid
      summary: Supplies Interval
      tags:
      - Deprecated
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/supplies/interval?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/supplies/interval?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/supplies/interval?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/supplies/interval?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/supplies/interval?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /exchanges/ticker:
    get:
      description: |
        The Exchanges Ticker provides high level information about the exchanges integrated with Nomics.
        It provides a limited amount of metadata, the type of integration, the time range of available data, pairs,
        and interval information about the volume and, where applicable, the number of trades.
      operationId: getExchangesTicker
      parameters:
      - description: Comma separated list of Nomics Exchange IDs to filter result
          rows
        example: binance,gdax
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated time interval of the ticker(s). Default is `1d`.
        example: 1d,30d
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          - 365d
          - ytd
          type: string
        style: form
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        example: EUR
        explode: true
        in: query
        name: convert
        required: false
        schema:
          type: string
        style: form
      - description: |
          Status by which to filter exchanges.  If not provided, all exchanges are shown.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - inactive
          type: string
        style: form
      - description: |
          Type by which to filter exchanges.  If not provided, all exchanges are shown.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - spot
          - derivative
          type: string
        style: form
      - description: |
          When `true`, selects centralized exchanges.  When `false`,
          removes centralized exchanges.  If omitted, all exchange types
          are shown.  May be used in conjunction with `decentralized` to
          form an "and" filter.
        explode: true
        in: query
        name: centralized
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: |
          When `true`, selects decentralized exchanges.  When `false`,
          removes decentralized exchanges.  If omitted, all exchange
          types are shown.  May be used in conjunction with
          `centralized` to form an "and" filter.
        explode: true
        in: query
        name: decentralized
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: |
          The maximum number of items to return per paginated response.
          Paginated responses include an additional response header,
          `X-Pagination-Total-Items`, which represents the total number
          of items available after all the request filters have been
          applied.  Must be between `1` and `100` (inclusive).
        example: 100
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          Which page of items to get.  Only applicable when `per-page` is also supplied.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_6'
                type: array
          description: Metadata and interval data for exchanges
        "401":
          description: Authentication information is missing or invalid
      summary: Exchanges Ticker
      tags:
      - Exchanges*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchanges/ticker?key=your-key-here&ids=binance,gdax&interval=1d,30d&convert=EUR&per-page=100&page=1"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchanges/ticker?key=your-key-here&ids=binance,gdax&interval=1d,30d&convert=EUR&per-page=100&page=1")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchanges/ticker?key=your-key-here&ids=binance,gdax&interval=1d,30d&convert=EUR&per-page=100&page=1")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchanges/ticker?key=your-key-here&ids=binance,gdax&interval=1d,30d&convert=EUR&per-page=100&page=1")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchanges/ticker?key=your-key-here&ids=binance,gdax&interval=1d,30d&convert=EUR&per-page=100&page=1"
          print(urllib.request.urlopen(url).read())
  /exchanges/volume/history:
    get:
      description: |
        Exchange Volume History is the total volume for all
        cryptoassets of an exchange in USD at intervals between the
        requested time period.  For each entry, the `volume` field
        represents the sum of the `spot_volume` and
        `derivative_volume` fields.
      operationId: getExchangeVolumeHistory
      parameters:
      - description: Exchange ID
        example: binance
        explode: true
        in: query
        name: exchange
        required: true
        schema:
          type: string
        style: form
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          example: EUR
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      - description: |
          Whether to include [Transparent Volume](https://blog.nomics.com/essays/transparent-volume/) and transparent market cap information in the response. Default is `false`. This option is only available to customers of our paid API plans.
        example: false
        explode: true
        in: query
        name: include-transparency
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_7'
                type: array
            test/csv:
              example: 04/14/2018 00:00:00,5209035491
              schema:
                type: string
          description: Volume over time for all currencies of an exchange
        "401":
          description: Authentication information is missing or invalid
      summary: Exchanges Volume History
      tags:
      - Exchanges*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchanges/volume/history?key=your-key-here&exchange=binance&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchanges/volume/history?key=your-key-here&exchange=binance&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchanges/volume/history?key=your-key-here&exchange=binance&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchanges/volume/history?key=your-key-here&exchange=binance&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchanges/volume/history?key=your-key-here&exchange=binance&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /exchanges:
    get:
      description: |
        The exchanges endpoint returns all the exchanges and their metadata that Nomics supports.
      operationId: getExchanges
      parameters:
      - description: |
          Comma separated list of Nomics Exchange IDs to filter result rows
        example: binance,idex,bittrex
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma separated list of exchange attributes to filter result columns
        example: id,name,transparency_grade
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: |
          When `true`, selects centralized exchanges.  When `false`,
          removes centralized exchanges.  If omitted, all exchange types
          are shown.  May be used in conjunction with `decentralized` to
          form an "and" filter.
        explode: true
        in: query
        name: centralized
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: |
          When `true`, selects decentralized exchanges.  When `false`,
          removes decentralized exchanges.  If omitted, all exchange
          types are shown.  May be used in conjunction with
          `centralized` to form an "and" filter.
        explode: true
        in: query
        name: decentralized
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_8'
                type: array
            text/csv:
              example: Binance
              schema:
                type: string
          description: A list of Nomics Exchanges
        "401":
          description: Authentication information is missing or invalid
      summary: Exchanges Metadata
      tags:
      - Exchanges*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchanges?key=your-key-here&ids=binance,idex,bittrex&attributes=id,name,transparency_grade"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchanges?key=your-key-here&ids=binance,idex,bittrex&attributes=id,name,transparency_grade")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchanges?key=your-key-here&ids=binance,idex,bittrex&attributes=id,name,transparency_grade")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchanges?key=your-key-here&ids=binance,idex,bittrex&attributes=id,name,transparency_grade")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchanges?key=your-key-here&ids=binance,idex,bittrex&attributes=id,name,transparency_grade"
          print(urllib.request.urlopen(url).read())
  /markets:
    get:
      description: |
        The markets endpoint returns information on the exchanges and markets that Nomics supports,
        in addition to the Nomics currency identifiers for the base and quote currency.
      operationId: getMarkets
      parameters:
      - description: Nomics Exchange ID to filter by
        example: binance
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated list of base currencies to filter by
        example: BTC,ETH,LTC,XMR
        explode: true
        in: query
        name: base
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated list of quote currencies to filter by
        example: BTC,ETH,BNB
        explode: true
        in: query
        name: quote
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_9'
                type: array
            text/csv:
              example: bitfinex,avtbtc,AVT,BTC
              schema:
                type: string
          description: A list of markets
        "401":
          description: Authentication information is missing or invalid
      summary: Markets
      tags:
      - Markets
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/markets?key=your-key-here&exchange=binance&base=BTC,ETH,LTC,XMR&quote=BTC,ETH,BNB"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/markets?key=your-key-here&exchange=binance&base=BTC,ETH,LTC,XMR&quote=BTC,ETH,BNB")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/markets?key=your-key-here&exchange=binance&base=BTC,ETH,LTC,XMR&quote=BTC,ETH,BNB")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/markets?key=your-key-here&exchange=binance&base=BTC,ETH,LTC,XMR&quote=BTC,ETH,BNB")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/markets?key=your-key-here&exchange=binance&base=BTC,ETH,LTC,XMR&quote=BTC,ETH,BNB"
          print(urllib.request.urlopen(url).read())
  /exchange-markets/ticker:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The Exchange Markets Ticker provides high level information about individual markets on exchanges integrated
        with Nomics. It provides metadata, the type of market, aggregation information, current financial data, and
        financial data over preset intervals.
      operationId: getExchangeMarketsTicker
      parameters:
      - description: Comma separated time interval of the ticker(s).
        example: 1d,30d
        explode: true
        in: query
        name: interval
        required: false
        schema:
          default: 1d
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          - 365d
          - ytd
          type: string
        style: form
      - description: A comma separated list of Nomics Currency IDs. A market must
          have one of the currencies as either its base or quote currency to be included.
        example: BTC,ETH
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of Nomics Currency IDs. A market must
          have one of the currencies as its base currency to be included.
        explode: true
        in: query
        name: base
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of Nomics Currency IDs. A market must
          have one of the currencies as its quote currency to be included.
        explode: true
        in: query
        name: quote
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of Nomics Exchange IDs. A market must
          be on one of the exchanges to be included.
        example: binance,gdax
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of Nomics Market IDs. A market's `market_id`
          must be one of the provided markets to be included.
        explode: true
        in: query
        name: market
        required: false
        schema:
          type: string
        style: form
      - description: Nomics Currency ID to convert all financial data to
        example: BTC
        explode: true
        in: query
        name: convert
        required: false
        schema:
          default: USD
          type: string
        style: form
      - description: |
          Status by which to filter markets. All markets are shown
          by default, regardless of status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - mapped
          - unmapped
          type: string
        style: form
      - description: |
          Search string by which to filter markets.  Items match the
          search query if it's a substring of their exchange id,
          market id, base currency symbol or quote currency symbol.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          The maximum number of items to return per paginated response.
          Paginated responses include an additional response header,
          `X-Pagination-Total-Items`, which represents the total number
          of items available after all the request filters have been
          applied.  Must be between `1` and `100` (inclusive).
        example: 100
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          Which page of items to get.  Only applicable when `per-page` is also supplied.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_10'
                type: array
          description: Metadata and interval data for individual markets on exchanges
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange Markets Ticker
      tags:
      - Markets*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange-markets/ticker?key=your-key-here&interval=1d,30d&currency=BTC,ETH&exchange=binance,gdax&convert=BTC&per-page=100&page=1"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange-markets/ticker?key=your-key-here&interval=1d,30d&currency=BTC,ETH&exchange=binance,gdax&convert=BTC&per-page=100&page=1")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange-markets/ticker?key=your-key-here&interval=1d,30d&currency=BTC,ETH&exchange=binance,gdax&convert=BTC&per-page=100&page=1")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange-markets/ticker?key=your-key-here&interval=1d,30d&currency=BTC,ETH&exchange=binance,gdax&convert=BTC&per-page=100&page=1")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchange-markets/ticker?key=your-key-here&interval=1d,30d&currency=BTC,ETH&exchange=binance,gdax&convert=BTC&per-page=100&page=1"
          print(urllib.request.urlopen(url).read())
  /markets/prices:
    get:
      deprecated: true
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The market prices endpoint returns prices in USD for the last trade in each market with the given base
        currency. These prices only include markets with quote currencies that are used as part of our
        [Pricing Methodology](https://blog.nomics.com/nomics-newsletter/nomics-pricing-methodology-explained/)
        (fiat, BTC, and ETH) to convert to USD.
      operationId: getMarketPrices
      parameters:
      - description: Nomics Currency ID of the desired base currency
        example: BTC
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_11'
                type: array
            text/csv:
              example: bitfinex,USD,7419.69255,06/05/2018 13:23:18
              schema:
                type: string
          description: A list of markets with their price
        "401":
          description: Authentication information is missing or invalid
      summary: Market Prices
      tags:
      - Deprecated
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/markets/prices?key=your-key-here&currency=BTC"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/markets/prices?key=your-key-here&currency=BTC")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/markets/prices?key=your-key-here&currency=BTC")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/markets/prices?key=your-key-here&currency=BTC")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/markets/prices?key=your-key-here&currency=BTC"
          print(urllib.request.urlopen(url).read())
  /markets/interval:
    get:
      deprecated: true
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The market interval endpoint returns a summary of information about all markets based in a given currency over
        a configurable time interval.
      operationId: getMarketInterval
      parameters:
      - description: Nomics Currency ID to query information for
        example: BTC
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Number of hours back to calculate data
        explode: true
        in: query
        name: hours
        required: false
        schema:
          default: 1
          maximum: 8760
          minimum: 1
          type: integer
        style: form
      - description: |
          Start time of the interval in RFC3339 (URI escaped).  If not provided, it is computed using the
          hours parameter.
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MarketInterval'
                type: array
            text/csv:
              example: bitfinex,EUR,5107055.26765,9484.34395,05/03/2018 15:00:00,9671.60953,05/03/2018
                20:31:24
              schema:
                type: string
          description: A list of markets with price and volume information for a currency
        "401":
          description: Authentication information is missing or invalid
      summary: Market Interval
      tags:
      - Deprecated
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /exchange-markets/prices:
    get:
      deprecated: true
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange market prices endpoint returns prices for the last trade in each market
      operationId: getExchangeMarketPrices
      parameters:
      - description: Nomics Currency ID to filter by. If present, only markets with
          this currency as the base or quote will be returned.
        example: BTC
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Nomics Exchange ID to filter by. If present, only markets on
          this exchange will be returned
        example: binance
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_12'
                type: array
            text/csv:
              example: binance,ADA,BTC,0.00002181,06/25/2018 15:17:06
              schema:
                type: string
          description: A list of markets with their prices
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange Market Prices
      tags:
      - Deprecated
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange-markets/prices?key=your-key-here&currency=BTC&exchange=binance"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange-markets/prices?key=your-key-here&currency=BTC&exchange=binance")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange-markets/prices?key=your-key-here&currency=BTC&exchange=binance")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange-markets/prices?key=your-key-here&currency=BTC&exchange=binance")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchange-markets/prices?key=your-key-here&currency=BTC&exchange=binance"
          print(urllib.request.urlopen(url).read())
  /exchange-markets/interval:
    get:
      deprecated: true
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange market interval endpoint returns a summary of information about all markets over a configurable
        time interval in their native values.
      operationId: getExchangeMarketInterval
      parameters:
      - description: Nomics Currency ID to filter by. If present, only markets with
          this currency as the base or quote will be returned.
        example: BTC
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Nomics Exchange ID to filter by. If present, only markets on
          this exchange will be returned
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
        style: form
      - description: Start time of the interval in RFC3339 (URI escaped).
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_13'
                type: array
            text/csv:
              example: binance,ADA,BTC,4974200617.00000,1496075991.61416,0.00002547,04/14/2018
                00:00:00,0.00003071,05/14/2018 00:00:00,2456653
              schema:
                type: string
          description: A list of markets with price and volume information for a currency
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange Market Interval
      tags:
      - Deprecated
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange-markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange-markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange-markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange-markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchange-markets/interval?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /market-cap/history:
    get:
      description: |
        MarketCap History is the total market cap for all cryptoassets at intervals between the requested time period.
      operationId: getMarketCapHistory
      parameters:
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Currency to quote ticker price, market cap, and volume values.
          May be a Fiat Currency or Cryptocurrency. Default is `USD`.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          example: EUR
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      - description: |
          Whether to include [Transparent Volume](https://blog.nomics.com/essays/transparent-volume/) and transparent market cap information in the response. Default is `false`. This option is only available to customers of our paid API plans.
        example: false
        explode: true
        in: query
        name: include-transparency
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_14'
                type: array
            test/csv:
              example: 07/05/2018 15:00:00,269222501959
              schema:
                type: string
          description: Performance over time for the entire market.
        "401":
          description: Authentication information is missing or invalid
      summary: Market Cap History
      tags:
      - Markets
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/market-cap/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/market-cap/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/market-cap/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/market-cap/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/market-cap/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /candles:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The candles endpoint returns aggregated open, high, low, close, and volume information for Nomics currencies.
        When asking for candles, a currency is provided as a parameter. Nomics aggregates all markets where the given
        currency is the base currency and the quote currency is a fiat currency, BTC, or ETH and returns all values in
        USD.

        Candles are aggregated across all markets for the base currencies, which necessitates converting to a common
        quote currency. Nomics converts all markets into USD in order to aggregated candles.

        Candles have the following time range limits based on interval and time:

        * `1d`: Available from inception with no range limit
        * `1h`: Available from inception. Time range limits:
          * Past 30 days: accessible in a single request
          * Older than 30 days: 7 days at a time

        CSV format is: `timestamp,open,high,low,close,volume,empty,transparent_open,transparent_high,transparent_low,transparent_close,transparent_volume`
      operationId: getCandles
      parameters:
      - description: Time interval of the candle
        example: 1d
        explode: true
        in: query
        name: interval
        required: true
        schema:
          enum:
          - 1d
          - 1h
          type: string
        style: form
      - description: Currency ID
        example: BTC
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: |
          Start time of the interval in RFC3339 (URI escaped). If
          not provided, starts from the first candle for daily
          candles and from the current time minus 30 days for hourly
          candles.
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not
          provided, the current time is used except for when hourly
          candles with a `start` time older than 30 days are
          requested.  In that case, the `end` time defaults to the
          `start` time plus 7 days.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_15'
                type: array
            text/csv:
              example: 2018-03-19T10:00:00Z,7024.32225,8276.19407,8281.17307,8566.43000,59624801
              schema:
                type: string
          description: A list of candles
        "401":
          description: Authentication information is missing or invalid
      summary: Aggregated OHLCV Candles
      tags:
      - Candles*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/candles?key=your-key-here&interval=1d&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/candles?key=your-key-here&interval=1d&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/candles?key=your-key-here&interval=1d&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/candles?key=your-key-here&interval=1d&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/candles?key=your-key-here&interval=1d&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /volume/history:
    get:
      description: |
        Volume History is the total volume for all cryptoassets in USD
        at intervals between the requested time period.  For each
        entry, the `volume` field represents the sum of the
        `spot_volume` and `derivative_volume` fields.
      operationId: getVolumeHistory
      parameters:
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Currency to quote volume values. May be a Fiat Currency or Cryptocurrency.
          Default is `USD`.
        example: EUR
        explode: true
        in: query
        name: convert
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      - description: |
          Whether to include [Transparent Volume](https://blog.nomics.com/essays/transparent-volume/) and transparent market cap information in the response. Default is `false`. This option is only available to customers of our paid API plans.
        example: false
        explode: true
        in: query
        name: include-transparency
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_16'
                type: array
            test/csv:
              example: 04/14/2018 00:00:00,5209035491
              schema:
                type: string
          description: Volume over time for all currencies
        "401":
          description: Authentication information is missing or invalid
      summary: Global Volume History
      tags:
      - Volume
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/volume/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z&convert=EUR"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/volume/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z&convert=EUR")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/volume/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z&convert=EUR")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/volume/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z&convert=EUR")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/volume/history?key=your-key-here&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z&convert=EUR"
          print(urllib.request.urlopen(url).read())
  /exchange-rates:
    get:
      description: |
        The exchange rates endpoint returns the current exchange rates used by Nomics to convert prices from markets
        into USD. This contains Fiat currencies as well as a BTC and ETH quote prices. This endpoint helps normalize
        data across markets as well as to provide localization for users.

        Currently, this endpoint does not support historical data, but this feature is planned.
      operationId: getExchangeRates
      parameters:
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeRate'
                type: array
            text/csv:
              example: AUD,0.76953,2018-04-04T00:00:00Z
              schema:
                type: string
          description: List of exchange rates into USD
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange Rates
      tags:
      - Exchange Rates
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange-rates?key=your-key-here"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange-rates?key=your-key-here")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange-rates?key=your-key-here")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange-rates?key=your-key-here")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchange-rates?key=your-key-here"
          print(urllib.request.urlopen(url).read())
  /exchange-rates/history:
    get:
      description: |
        Exchange rates for every point in a time range. This endpoint can be used with other history endpoints
        to convert values into a desired quote currency.

        The currency parameter must be a Nomics Quote Currency, to get all Nomics Quote Currencies, use the
        `/exchange-rates` endpoint for all current rates.
      operationId: getExchangeRatesHistory
      parameters:
      - description: Currency ID
        example: BTC
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Start time of the interval in RFC3339 (URI escaped)
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_17'
                type: array
            text/csv:
              example: 05/01/2018 00:00:00,1.2079045272261680
              schema:
                type: string
          description: Exchange rates for every point in a time range
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange Rates History
      tags:
      - Exchange Rates
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange-rates/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange-rates/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange-rates/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange-rates/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/exchange-rates/history?key=your-key-here&currency=BTC&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /trades:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The trades endpoint returns individual trades in a normalized format for an individual
        exchange market.

        ### Getting the most recent trades

        By default, the trades endpoint returns the 100 most recent trades in descending order.
        You only need to provide the required parameters.

        ### Sequential ingestion

        If you want to page through trades sequentially for ingestion, follow these steps:

        1. Get the first page of trades `order=asc`
        2. Get the timestamp of the last trade in the page, let's call it `last`
        3. Get the next page of trades `order=asc&from=<last>`
        4. Repeat 2 and 3

        To reverse chronologically ingest, make a request for the most recent trades, and
        proceed as above but with `order=desc`.

        ### Building your own candles

        If you want to build your own candles, follow the steps for sequential ingestion, but start
        with `from=<start>` in step 1, where `start` is the start of your candle.

        Then, stop when you see a trade past your candle's `end` timestamp, discard trades past
        `end` and perform your aggregation.
      operationId: getTrades
      parameters:
      - description: Exchange ID
        example: binance
        explode: true
        in: query
        name: exchange
        required: true
        schema:
          type: string
        style: form
      - description: The Exchange's Market ID from [Markets](#tag/Markets)
        example: BTCUSDT
        explode: true
        in: query
        name: market
        required: true
        schema:
          type: string
        style: form
      - description: Maximum number of trades returned
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 2500
          minimum: 1
          type: integer
        style: form
      - description: |
          Defines the sort order of returned trades and the direction from `from`.
        example: asc
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Timestamp from which results should start in RFC3339. Please ensure you URI encode the timestamp. From is inclusive.
        example: 1970-01-01T00%3A00%3A00Z
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Trade'
                type: array
            text/csv:
              example: 1,12/01/2014 05:33:56,300.00000000,0.01000000
              schema:
                type: string
          description: List of trades
        "401":
          description: Authentication information is missing or invalid
      summary: Trades
      tags:
      - Trades*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/trades?key=your-key-here&exchange=binance&market=BTCUSDT&limit=100&order=asc&from=1970-01-01T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/trades?key=your-key-here&exchange=binance&market=BTCUSDT&limit=100&order=asc&from=1970-01-01T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/trades?key=your-key-here&exchange=binance&market=BTCUSDT&limit=100&order=asc&from=1970-01-01T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/trades?key=your-key-here&exchange=binance&market=BTCUSDT&limit=100&order=asc&from=1970-01-01T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/trades?key=your-key-here&exchange=binance&market=BTCUSDT&limit=100&order=asc&from=1970-01-01T00%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /orders/snapshot:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The most recent order book snapshot for the given exchange and
        market.  An empty result is returned if no snapshot is found
        within 24 hours prior to the provided timestamp.

        CSV format is: `timestamp,bidPrice,bidAmount,askPrice,askAmount`
      operationId: getOrderBookSnapshot
      parameters:
      - description: Exchange ID
        example: binance
        explode: true
        in: query
        name: exchange
        required: true
        schema:
          type: string
        style: form
      - description: The Exchange's Market ID from [Markets](#tag/Markets)
        example: BTCUSDT
        explode: true
        in: query
        name: market
        required: true
        schema:
          type: string
        style: form
      - description: The newest order book *before* this timestamp will be returned.
          Timestamp should be in RFC3339 (URI escaped).
        example: 2019-04-01T12%3A00%3A00Z
        explode: true
        in: query
        name: at
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
            text/csv:
              example: 08/29/2018 20:14:04,7014.31,0.178164,7015.99,0.000044
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Order book snapshot
        "401":
          description: Authentication information is missing or invalid
      summary: Order Book Snapshot
      tags:
      - Orders*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/orders/snapshot?key=your-key-here&exchange=binance&market=BTCUSDT&at=2019-04-01T12%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/orders/snapshot?key=your-key-here&exchange=binance&market=BTCUSDT&at=2019-04-01T12%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/orders/snapshot?key=your-key-here&exchange=binance&market=BTCUSDT&at=2019-04-01T12%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/orders/snapshot?key=your-key-here&exchange=binance&market=BTCUSDT&at=2019-04-01T12%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/orders/snapshot?key=your-key-here&exchange=binance&market=BTCUSDT&at=2019-04-01T12%3A00%3A00Z"
          print(urllib.request.urlopen(url).read())
  /orders/batches:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        This endpoint returns daily batches of order book snapshots as
        Zip archived CSV files.  Batches are available up to 2 days
        prior to the current date, inclusive.

        This endpoint responds with an HTTP redirect to the desired
        archive file.  Because of this, you must take care to ensure that
        your API client properly follows redirects.

        The Zip file contains a single CSV file, named `books.csv`,
        containing the order book snapshots for each day.

        CSV format is: `time of day,kind (bid or ask),amount,price`
      operationId: getOrderBookBatches
      parameters:
      - description: Exchange ID
        example: binance
        explode: true
        in: query
        name: exchange
        required: true
        schema:
          type: string
        style: form
      - description: The Exchange's Market ID from [Markets](#tag/Markets)
        example: BTCUSDT
        explode: true
        in: query
        name: market
        required: true
        schema:
          type: string
        style: form
      - description: |
          The date for which to export a batch.  Must be a date
          ending at most 2 days prior to the current date.
        example: 2021-03-15
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              example: |
                00:00:00.129,bid,57794.270000,1.424075
                00:00:00.129,bid,57794.260000,0.024794
                00:00:00.129,bid,57794.250000,1.565000
                00:00:00.129,bid,57789.690000,0.009109
                00:00:00.129,ask,57794.280000,0.035800
                00:00:00.129,ask,57794.990000,0.012111
                00:00:00.129,ask,57798.930000,0.003371
                00:00:00.129,ask,57798.940000,0.001379
              schema:
                type: string
          description: Order book batch
        "401":
          description: Authentication information is missing or invalid
      summary: Order Book Batches
      tags:
      - Orders*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/orders/batches?key=your-key-here&exchange=binance&market=BTCUSDT&date=2021-03-15"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/orders/batches?key=your-key-here&exchange=binance&market=BTCUSDT&date=2021-03-15")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/orders/batches?key=your-key-here&exchange=binance&market=BTCUSDT&date=2021-03-15")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/orders/batches?key=your-key-here&exchange=binance&market=BTCUSDT&date=2021-03-15")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
          url = "https://api.nomics.com/v1/orders/batches?key=your-key-here&exchange=binance&market=BTCUSDT&date=2021-03-15"
          print(urllib.request.urlopen(url).read())
  /exchange_candles:
    get:
      description: |
        ### !! This API endpoint is only available to customers of our paid API plans.  Please [go here](https://p.nomics.com/pricing/) to learn more.

        The exchange candles endpoint returns raw open, close, high, low, and volume information for Nomics Markets.
        The data is not aggregated, therefore prices are in the quote currency of the market and volume is in the base
        currency of the market.

        History is available for all candle sizes from inception, but
        there are limits on the length of the date range you can
        request at a time:

        | interval | limit per request |
        |----------|-------------------|
        | `1d`     | no limit          |
        | `4h`     | 120 days          |
        | `1h`     | 30 days           |
        | `30m`    | 14 days           |
        | `5m`     | 3 days            |
        | `1m`     | 1 day             |

        If the difference between your `end` and `start` parameters
        for the `interval` you're requesting exceeds the limit, then
        you'll receive an error.
      operationId: getExchangeCandles
      parameters:
      - description: Time interval of the candle
        example: 1d
        explode: true
        in: query
        name: interval
        required: true
        schema:
          enum:
          - 1d
          - 4h
          - 1h
          - 30m
          - 5m
          - 1m
          type: string
        style: form
      - description: Exchange ID
        example: binance
        explode: true
        in: query
        name: exchange
        required: true
        schema:
          type: string
        style: form
      - description: The Exchange's Market ID from [Markets](#tag/Markets)
        example: BTCUSDT
        explode: true
        in: query
        name: market
        required: true
        schema:
          type: string
        style: form
      - description: |
          Start time of the interval in RFC3339 (URI escaped).  If
          not provided, then candles will be returned starting from
          the current time minus the date range limit for the
          requested interval.  For example, if you request hourly
          candles without specifying a start time, then candles
          spanning the last 30 days will be returned.
        example: 2018-04-14T00%3A00%3A00Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: |
          End time of the interval in RFC3339 (URI escaped). If not provided,
          the current time is used.
        example: 2018-05-14T00%3A00%3A00Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: Format of the response. Defaults to JSON when blank.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_19'
                type: array
            text/csv:
              example: 04/14/2018 00:00:00,7810.00000000,7877.48000000,7999.01000000,8186.00000000,31621.28635700,168756
              schema:
                type: string
          description: A list of candles
        "401":
          description: Authentication information is missing or invalid
      summary: Exchange OHLCV Candles
      tags:
      - Candles*
      x-code-samples:
      - lang: Shell
        source: curl "https://api.nomics.com/v1/exchange_candles?key=your-key-here&interval=1d&exchange=binance&market=BTCUSDT&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z"
      - lang: JavaScript
        source: |-
          fetch("https://api.nomics.com/v1/exchange_candles?key=your-key-here&interval=1d&exchange=binance&market=BTCUSDT&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => response.json())
            .then(data => console.log(data))
      - lang: NodeJS
        source: |-
          require('axios')
            .get("https://api.nomics.com/v1/exchange_candles?key=your-key-here&interval=1d&exchange=binance&market=BTCUSDT&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
            .then(response => console.log(response))
      - lang: Ruby
        source: |-
          require 'net/http'
          uri = URI("https://api.nomics.com/v1/exchange_candles?key=your-key-here&interval=1d&exchange=binance&market=BTCUSDT&start=2018-04-14T00%3A00%3A00Z&end=2018-05-14T00%3A00%3A00Z")
          puts Net::HTTP.get(uri)
      - lang: Python
        source: |-
          import urllib.request
[...]
