openapi: 3.0.2
info:
  description: |-
    The swagger file of Binance Public API

    API documents:
      - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)
      - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)
  license:
    name: MIT
  title: Binance SPOT Public API
  version: "1.0"
servers:
- url: https://api.binance.com
- url: https://testnet.binance.vision
tags:
- description: Market Data
  name: Market Data
- description: Account and Trade
  name: Trade
- description: Margin Account/Trade
  name: Margin
- description: Wallet Endpoints
  name: Wallet
- description: User data stream
  name: Stream
- description: Margin user data stream
  name: Margin Stream
paths:
  /api/v3/ping:
    get:
      description: |-
        Test connectivity to the Rest API.

        Weight 1
      responses:
        "200":
          content:
            application/json:
              example: {}
          description: ping result
      summary: Test Connectivity
      tags:
      - Market Data
  /api/v3/time:
    get:
      description: |-
        Test connectivity to the Rest API and get the current server time.

        Weight 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Binance server UTC timestamp
      summary: Check Server Time
      tags:
      - Market Data
  /api/v3/exchangeInfo:
    get:
      description: |-
        Current exchange trading rules and symbol information

        Weight 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Current exchange trading rules and symbol information
      summary: Exchange Information
      tags:
      - Market Data
  /api/v3/depth:
    get:
      description: "\n| Limit               | Weight  | \n| -------------       |---------|\
        \ \n| 5, 10, 20, 50, 100  | 1       | \n| 500                 | 5       |\
        \ \n| 1000                | 10      | \n| 5000                | 50      | "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          enum:
          - 5
          - 10
          - 20
          - 50
          - 100
          - 500
          - 1000
          - 5000
          maximum: 5000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                lastUpdateId: 1060776800
                bids:
                - - "16.39580000"
                  - "19.41000000"
                - - "16.39450000"
                  - "1.00000000"
                asks:
                - - "16.39790000"
                  - "25.48000000"
                - - "16.39800000"
                  - "5.57000000"
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: order books
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Order Book
      tags:
      - Market Data
  /api/v3/trades:
    get:
      description: |-
        Get recent trades (up to last 500).

        Weight 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/trade'
                type: array
          description: trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Recent Trades List
      tags:
      - Market Data
  /api/v3/historicalTrades:
    get:
      description: |-
        Get older market trades.

        `X-MBX-APIKEY` required in header

        Weight 5
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/trade'
                type: array
          description: trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - apiKey: []
      summary: Old Trade Lookup
      tags:
      - Market Data
  /api/v3/aggTrades:
    get:
      description: |-
        Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.

        Weight 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/aggTrade'
                type: array
          description: trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Compressed/Aggregate Trades List
      tags:
      - Market Data
  /api/v3/klines:
    get:
      description: |-
        Kline/candlestick bars for a symbol.\
        Klines are uniquely identified by their open time.

        Weight 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: kline intervals
        explode: true
        in: query
        name: interval
        required: true
        schema:
          enum:
          - 1m
          - 3m
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 1d
          - 3d
          - 1w
          - 1M
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - - 1592864100000
                - "9668.28000000"
                - "9668.28000000"
                - "9662.90000000"
                - "9663.80000000"
                - "46.46543700"
                - 1592864159999,
                - "449098.94232016"
                - 401
                - "10.46540600"
                - "101138.68313192"
                - "0"
              schema:
                items:
                  type: object
                type: array
          description: kline data
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Kline/Candlestick Data
      tags:
      - Market Data
  /api/v3/avgPrice:
    get:
      description: |-
        Current average price for a symbol.

        Weight 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: average price
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Current Average Price
      tags:
      - Market Data
  /api/v3/ticker/24hr:
    get:
      description: |-
        24 hour rolling window price change statistics. Careful when accessing this with no symbol.

        Weight:\
        `1` for a single symbol;\
        `40` when the symbol parameter is omitted
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticker24HourResponse'
          description: 24hr ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: 24hr Ticker Price Change Statistics
      tags:
      - Market Data
  /api/v3/ticker/price:
    get:
      description: |-
        Latest price for a symbol or symbols.

        Weight:\
        `1` for a single symbol;\
        `2` when the symbol parameter is omitted
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/priceTickerResponse'
          description: Price ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Symbol Price Ticker
      tags:
      - Market Data
  /api/v3/ticker/bookTicker:
    get:
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        Weight:\
        1 for a single symbol;\
        40 when the symbol parameter is omitted
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookTickerResponse'
          description: orderbook ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Symbol Order Book Ticker
      tags:
      - Market Data
  /api/v3/order/test:
    post:
      description: "Test new order creation and signature/recvWindow long. \nCreates\
        \ and validates a new order but does not send it into the matching engine.\n\
        \nWeight: 1"
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: SELL or BUY
        example: BNBUSDT
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
        style: form
      - description: the order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - description: order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: order quantity
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: quote quantity
        explode: true
        in: query
        name: quoteOrderQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: order price
        example: 20.01
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        example: 20.01
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Set the response JSON. ACK, RESULT, or FULL; MARKET and LIMIT
          order types default to FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: test order result
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - apiKey: []
      summary: Test New Order (TRADE)
      tags:
      - Trade
  /api/v3/order:
    delete:
      description: "Cancel an active order.\n\nEither `orderId` or `origClientOrderId`\
        \ must be sent.\n\nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: cancelled order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Cancel Order (TRADE)
      tags:
      - Trade
    get:
      description: "Check an order's status.\n\n- Either `orderId` or `origClientOrderId`\
        \ must be sent.\n- For some historical orders `cummulativeQuoteQty` will be\
        \ < 0, meaning the data is not available at this time.\n\nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDetails'
          description: order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Order (USER_DATA)
      tags:
      - Trade
    post:
      description: "Send in a new order.\n\n\n- `LIMIT_MAKER` are `LIMIT` orders that\
        \ will be rejected if they would immediately match and trade as a taker.\n\
        - `STOP_LOSS` and `TAKE_PROFIT` will execute a `MARKET` order when the `stopPrice`\
        \ is reached.\n- Any `LIMIT` or `LIMIT_MAKER` type order can be made an iceberg\
        \ order by sending an `icebergQty`.\n- Any order with an `icebergQty` MUST\
        \ have `timeInForce` set to `GTC`.\n- `MARKET` orders using `quantity` specifies\
        \ how much a user wants to buy or sell based on the market price.\n- `MARKET`\
        \ orders using `quoteOrderQty` specifies the amount the user wants to spend\
        \ (when buying) or receive (when selling) of the quote asset; the correct\
        \ quantity will be determined based on the market liquidity and `quoteOrderQty`.\n\
        - `MARKET` orders using `quoteOrderQty` will not break `LOT_SIZE` filter rules;\
        \ the order will execute a quantity that will have the notional value as close\
        \ as possible to `quoteOrderQty`.\n- same `newClientOrderId` can be accepted\
        \ only when the previous one is filled, otherwise the order will be rejected.\n\
        \nTrigger order price rules against market price for both `MARKET` and `LIMIT`\
        \ versions:\n\n- Price above market price: STOP_LOSS BUY, TAKE_PROFIT SELL\n\
        - Price below market price: STOP_LOSS SELL, TAKE_PROFIT BUY\n\n\nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: SELL or BUY
        example: BNBUSDT
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
        style: form
      - description: the order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - description: order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: order quantity
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: quote quantity
        explode: true
        in: query
        name: quoteOrderQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: order price
        example: 20.01
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        example: 20.01
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Set the response JSON. ACK, RESULT, or FULL; MARKET and LIMIT
          order types default to FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderResponse'
          description: order result
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - apiKey: []
      summary: New Order (TRADE)
      tags:
      - Trade
  /api/v3/openOrders:
    delete:
      description: "Cancels all active orders on a symbol.\\\nThis includes OCO orders.\n\
        \nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/order'
                type: array
          description: cancelled orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Cancel all Open Orders on a Symbol (TRADE)
      tags:
      - Trade
    get:
      description: |-
        Get all open orders on a symbol. Careful when accessing this with no symbol.\

        Weight:\
        `1` for a single symbol;\
        `40` when the symbol parameter is omitted
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderDetails'
                type: array
          description: current open orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Current Open Orders (USER_DATA)
      tags:
      - Trade
  /api/v3/allOrders:
    get:
      description: |-
        Get all account orders; active, canceled, or filled..

        - If orderId is set, it will get orders >= that orderId. Otherwise most recent orders are returned.
        - For some historical orders cummulativeQuoteQty will be < 0, meaning the data is not available at this time.

        Weight: 5
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderDetails'
                type: array
          description: current open orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: All Orders (USER_DATA)
      tags:
      - Trade
  /api/v3/order/oco:
    post:
      description: |-
        Send in a new OCO

        - Price Restrictions:
          - SELL: Limit Price > Last Price > Stop Price
          - BUY: Limit Price < Last Price < Stop Price
        - Quantity Restrictions:
            - Both legs must have the same quantity
            - ICEBERG quantities however do not have to be the same

        Weight: 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: A unique Id for the entire orderList
        explode: true
        in: query
        name: listClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: SELL or BUY
        example: BNBUSDT
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
        style: form
      - description: order quantity
        example: 10.01
        explode: true
        in: query
        name: quantity
        required: true
        schema:
          format: float
          type: number
        style: form
      - description: A unique Id for the limit order
        explode: true
        in: query
        name: limitClientOrderId
        required: false
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: price
        required: true
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: limitIcebergQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: stopClientOrderId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: stopPrice
        required: true
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: stopLimitPrice
        required: false
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: stopIcebergQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: stopLimitTimeInForce
        required: false
        schema:
          enum:
          - GTC
          - FOK
          - IOC
          type: string
        style: form
      - description: Set the response JSON. ACK, RESULT, or FULL; MARKET and LIMIT
          order types default to FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: new oco details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: New OCO (TRADE)
      tags:
      - Trade
  /api/v3/orderList:
    delete:
      description: "Cancel an entire Order List\n\nCanceling an individual leg will\
        \ cancel the entire OCO\n\nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order list id
        explode: true
        in: query
        name: orderListId
        required: false
        schema:
          type: integer
        style: form
      - description: A unique Id for the entire orderList
        explode: true
        in: query
        name: listClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OCOOrderReport'
          description: oco order delete report
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Cancel OCO (TRADE)
      tags:
      - Trade
    get:
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        Weight: 1
      parameters:
      - description: order list id
        explode: true
        in: query
        name: orderListId
        required: false
        schema:
          type: integer
        style: form
      - description: order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OCOOrder'
          description: oco details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/allOrderList:
    get:
      description: |-
        Retrieves all OCO based on provided optional parameters

        Weight: 10
      parameters:
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OCOOrder'
                type: array
          description: oco order list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query all OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/openOrderList:
    get:
      description: 'Weight: 2'
      parameters:
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OCOOrder'
                type: array
          description: oco order list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Open OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/account:
    get:
      description: |-
        Get current account information.

        Weight: 5
      parameters:
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: account details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Account Information (USER_DATA)
      tags:
      - Trade
  /api/v3/myTrades:
    get:
      description: |-
        Get trades for a specific account and symbol.

        If fromId is set, it will get id >= that fromId. Otherwise most recent orders are returned.

        Weight: 5
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myTrade'
          description: order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Account Trade List (USER_DATA)
      tags:
      - Trade
  /sapi/v1/margin/transfer:
    get:
      description: 'Weight: 1'
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BNB
        explode: true
        in: query
        name: asset
        required: false
        schema:
          type: string
        style: form
      - description: Tranfer Type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - ROLL_IN
          - ROLL_OUT
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Currently querying page. Start from 1. Default:1
        example: 1
        explode: true
        in: query
        name: current
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: Default:10 Max:100
        example: 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  rows:
                  - amount: "0.10000000"
                    asset: BNB
                    status: CONFIRMED
                    timestamp: 1566898617
                    txId: 5240372201
                    type: ROLL_IN
                  total: 1
                type: object
          description: margin account transfer history, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Get Transfer History (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Execute transfer between spot account and margin account.

        Weight: 1
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      - example: "1.01"
        explode: true
        in: query
        name: amount
        required: true
        schema:
          format: float
          type: number
        style: form
      - description: "1 -> transfer from main account to margin account \\\n2 -> transfer\
          \ from margin account to main account  "
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - 1
          - 2
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: transfer Id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Margin Account Transfer (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/loan:
    get:
      description: |-
        `txId` or `startTime` must be sent. txId takes precedence.

        Weight: 1
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      - description: the tranId in  `POST /sapi/v1/margin/loan`
        explode: true
        in: query
        name: txId
        required: false
        schema:
          example: 123456789
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Currently querying page. Start from 1. Default:1
        example: 1
        explode: true
        in: query
        name: current
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: Default:10 Max:100
        example: 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  rows:
                  - asset: BNB
                    principal: "0.84624403"
                    timestamp: 1566898617
                    status: CONFIRMED
                  total: 1
                type: object
          description: Load records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Load Record (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Apply for a loan.

        Weight: 1
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      - example: "1.01"
        explode: true
        in: query
        name: amount
        required: true
        schema:
          format: float
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Margin Account Borrow (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/repay:
    get:
      description: |-
        `txId` or `startTime` must be sent. txId takes precedence.
        Weight: 1
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      - description: the tranId in  `POST /sapi/v1/margin/repay`
        explode: true
        in: query
        name: txId
        required: false
        schema:
          example: 2970933056
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Currently querying page. Start from 1. Default:1
        example: 1
        explode: true
        in: query
        name: current
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: Default:10 Max:100
        example: 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Load records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Repay Record (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Repay loan for margin account.

        Weight: 1
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      - example: "1.01"
        explode: true
        in: query
        name: amount
        required: true
        schema:
          format: float
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Margin Account Repay (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/asset:
    get:
      description: 'Weight: 1'
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BTC
        explode: true
        in: query
        name: asset
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: asset details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - apiKey: []
      summary: Query Margin Asset (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/pair:
    get:
      description: 'Weight: 1'
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: margin pair details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Query Margin Pair (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/allAssets:
    get:
      description: 'Weight: 1'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_8'
                type: array
          description: assets details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - apiKey: []
      summary: Get All Margin Assets (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/allPairs:
    get:
      description: 'Weight: 1'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_9'
                type: array
          description: margin pairs
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - apiKey: []
      summary: Get All Margin Pairs (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/priceIndex:
    get:
      description: 'Weight: 1'
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Price index
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - apiKey: []
      summary: Query Margin PriceIndex (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/order:
    delete:
      description: "Cancel an active order for margin account.\n\nEither orderId or\
        \ origClientOrderId must be sent.\n\nWeight: 1 "
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrder'
          description: cancelled margin order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Margin Account Cancel Order (TRADE)
      tags:
      - Margin
    get:
      description: |-
        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight: 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrderDetail'
          description: Interest History, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Margin Account's Order (MARKET_DATA)
      tags:
      - Margin
    post:
      description: |-
        Post a new order for margin account.

        Weight: 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: SELL or BUY
        example: BNBUSDT
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
        style: form
      - description: the order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - description: order quantity
        example: 10.01
        explode: true
        in: query
        name: quantity
        required: true
        schema:
          format: float
          type: number
        style: form
      - description: order price
        example: 20.01
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        example: 20.01
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Set the response JSON. ACK, RESULT, or FULL; MARKET and LIMIT
          order types default to FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: default NO_SIDE_EFFECT
        explode: true
        in: query
        name: sideEffectType
        required: false
        schema:
          enum:
          - NO_SIDE_EFFECT
          - MARGIN_BUY
          - AUTO_REPAY
          type: string
        style: form
      - description: order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrderResponse'
          description: margin pairs
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Margin Account New Order (TRADE)
      tags:
      - Margin
  /sapi/v1/margin/interestHistory:
    get:
      description: 'Weight: 1'
      parameters:
      - description: The asset being transferred, e.g., BTC
        example: BNB
        explode: true
        in: query
        name: asset
        required: false
        schema:
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Currently querying page. Start from 1. Default:1
        example: 1
        explode: true
        in: query
        name: current
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: Default:10 Max:100
        example: 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Interest History, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Interest History (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/forceLiquidationRec:
    get:
      description: 'Weight: 1'
      parameters:
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Currently querying page. Start from 1. Default:1
        example: 1
        explode: true
        in: query
        name: current
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: Default:10 Max:100
        example: 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: number
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                rows:
                - avgPrice: "0.00388359"
                  executedQty: "31.39000000"
                  orderId: 180015097
                  price: "0.00388110"
                  qty: "31.39000000"
                  side: SELL
                  symbol: BNBBTC
                  timeInForce: GTC
                  updatedTime: 1558941374745
                total: 1
              schema:
                type: object
          description: Force Liquidation History, response in descending order
      summary: Get Force Liquidation Record (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/account:
    get:
      description: 'Weight: 1'
      parameters:
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Margin account details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Margin Account Details (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/openOrders:
    get:
      description: |-
        - If the symbol is not sent, orders for all symbols will be returned in an array.
        - When all symbols are returned, the number of requests counted against the rate limiter is equal to the number of symbols currently trading on the exchange

        Weight: 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
                type: array
          description: margin open orders list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Margin Account's Open Order (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/allOrders:
    get:
      description: |-
        - If `orderId` is set, it will get orders >= that orderId. Otherwise most recent orders are returned.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight: 1
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
                type: array
          description: margin order list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Margin Account's All Order (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/myTrades:
    get:
      description: 'Weight: 1'
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          type: integer
        style: form
      - description: Default 500; max 1000.
        example: 500
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/marginTrade'
                type: array
          description: margin order list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: If fromId is set, it will get orders >= that fromId. Otherwise most
        recent orders are returned.
      tags:
      - Margin
  /sapi/v1/margin/maxBorrowable:
    get:
      description: 'Weight: 5'
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  amount: "1.69248805"
                type: object
          description: max borrow amount
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Max Borrow (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/maxTransferable:
    get:
      description: 'Weight: 5'
      parameters:
      - description: trading symbol, e.g. BNBUSDT
        example: BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  amount: "1.69248805"
                type: object
          description: max transferable amount
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Query Max Transfer-Out Amount (USER_DATA)
      tags:
      - Margin
  /wapi/v3/systemStatus.html:
    get:
      description: 'Weight: 1'
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  status: 0
                  msg: normal
                type: object
          description: system status
      summary: System Status (System)
      tags:
      - Wallet
  /sapi/v1/capital/config/getall:
    get:
      description: |-
        Get information of coins (available for deposit and withdraw) for user.

        Weight: 1
      parameters:
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: All coins details information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: All Coins' Information (USER_DATA)
      tags:
      - Wallet
  /sapi/v1/accountSnapshot:
    get:
      description: |2-

        Weight: 1
      parameters:
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - SPOT
          - MARGIN
          - FUTURES
          type: string
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: Timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 5
          maximum: 30
          minimum: 5
          type: integer
        style: form
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: account Snapshot
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Daily Account Snapshot (USER_DATA)
      tags:
      - Wallet
  /sapi/v1/account/disableFastWithdrawSwitch:
    post:
      description: |-
        This request will disable fastwithdraw switch under your account.
        You need to enable "trade" option for the api key which requests this endpoint.

        Weight: 1
      parameters:
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: return empty
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Disable Fast Withdraw Switch (USER_DATA)
      tags:
      - Wallet
  /sapi/v1/account/enableFastWithdrawSwitch:
    post:
      description: |2-

        - This request will enable fastwithdraw switch under your account. You need to enable "trade" option for the api key which requests this endpoint.
        - When Fast Withdraw Switch is on, transferring funds to a Binance account will be done instantly. There is no on-chain transaction, no transaction ID and no withdrawal fee.

        Weight: 1
      parameters:
      - description: UTC timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        example: 5000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          type: integer
        style: form
      - description: signature
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: return empty
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      summary: Enable Fast Withdraw Switch (USER_DATA)
      tags:
      - Wallet
  /sapi/v1/capital/withdraw/apply:
    post:
      description: |-
        Submit a withdraw request.

        - If network not send, return with default network of the coin.
        - You can get network and isDefault in networkList of a coin in the response of `Get /sapi/v1/capital/config/getall (HMAC SHA256)`.

        Weight: 1
      parameters:
      - description: coin name
        example: BNB
        explode: true
        in: query
        name: coin
        required: true
        schema:
          type: string
        style: form
      - description: client id for withdraw
        explode: true
        in: query
        name: withdrawOrderId
        required: false
        schema:
          type: string
        style: form
      - description: getting value from `GET /sapi/v1/capital/config/getall`
        explode: true
        in: query
        name: network
        required: false
        schema:
[...]
