openapi: 3.0.0
info:
  description: |
    Coinbase provides a simple and powerful REST API to integrate bitcoin, bitcoin cash, litecoin and ethereum payments into your business or application.

    This API reference provides information on available endpoints and how to interact with it. To read more about the API, visit our API documentation.
  title: CoinBase API
  version: 2019-11-15
servers:
- description: Coinbases Production Server
  url: https://api.coinbase.com/v2
paths:
  /user:
    get:
      description: |
        Get current user’s public information. To get user’s email or private information, use permissions wallet:user:email and wallet:user:read. If current request has a wallet:transactions:send scope, then the response will contain a boolean sends_disabled field that indicates if the user’s send functionality has been disabled.
      operationId: CurrentUser
      parameters:
      - description: |
          The user generated message signature (see below)
          The CB-ACCESS-SIGN header is generated by creating a sha256 HMAC using the secret key on the prehash string timestamp + method + requestPath + body (where + represents string concatenation).
        explode: false
        in: header
        name: CB-ACCESS-SIGN
        required: false
        schema:
          default: auto
          type: string
        style: simple
        x-go-default-value: auto
        x-go-default: true
      - description: A timestamp for your request
        explode: false
        in: header
        name: CB-ACCESS-TIMESTAMP
        required: false
        schema:
          type: integer
        style: simple
        x-go-default-value: auto
        x-go-default: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
      security:
      - ApiKeyAuth:
        - wallet:user:read
      summary: Show current user
      tags:
      - users
  /accounts:
    get:
      description: Lists current user’s accounts to which the authentication method
        has access to.
      operationId: ListAccounts
      parameters:
      - description: |
          The user generated message signature (see below)
          The CB-ACCESS-SIGN header is generated by creating a sha256 HMAC using the secret key on the prehash string timestamp + method + requestPath + body (where + represents string concatenation).
        explode: false
        in: header
        name: CB-ACCESS-SIGN
        required: false
        schema:
          default: auto
          type: string
        style: simple
        x-go-default-value: auto
        x-go-default: true
      - description: A timestamp for your request
        explode: false
        in: header
        name: CB-ACCESS-TIMESTAMP
        required: false
        schema:
          type: integer
        style: simple
        x-go-default-value: auto
        x-go-default: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: OK
      security:
      - ApiKeyAuth:
        - wallet:accounts:read
      summary: List Accounts
      tags:
      - accounts
  /accounts/{account_id}:
    get:
      description: Show current user’s account. To access the primary account for
        a given currency, a currency string (BTC or ETH) can be used instead of the
        account id in the URL.
      operationId: GetAccount
      parameters:
      - description: |
          The user generated message signature (see below)
          The CB-ACCESS-SIGN header is generated by creating a sha256 HMAC using the secret key on the prehash string timestamp + method + requestPath + body (where + represents string concatenation).
        explode: false
        in: header
        name: CB-ACCESS-SIGN
        required: false
        schema:
          default: auto
          type: string
        style: simple
        x-go-default-value: auto
        x-go-default: true
      - description: A timestamp for your request
        explode: false
        in: header
        name: CB-ACCESS-TIMESTAMP
        required: false
        schema:
          type: integer
        style: simple
        x-go-default-value: auto
        x-go-default: true
      - description: The id of the account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: invalid token being used
      security:
      - ApiKeyAuth:
        - wallet:accounts:read
      summary: Retrieve Account
      tags:
      - accounts
components:
  parameters:
    CB-ACCESS-SIGN:
      description: |
        The user generated message signature (see below)
        The CB-ACCESS-SIGN header is generated by creating a sha256 HMAC using the secret key on the prehash string timestamp + method + requestPath + body (where + represents string concatenation).
      explode: false
      in: header
      name: CB-ACCESS-SIGN
      required: false
      schema:
        default: auto
        type: string
      style: simple
      x-go-default-value: auto
      x-go-default: true
    CB-ACCESS-TIMESTAMP:
      description: A timestamp for your request
      explode: false
      in: header
      name: CB-ACCESS-TIMESTAMP
      required: false
      schema:
        type: integer
      style: simple
      x-go-default-value: auto
      x-go-default: true
  responses:
    RateLimiting:
      description: being rate limited
    ErrorMessage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: invalid token being used
  schemas:
    pagination:
      properties:
        ending_before:
          type: string
        starting_after:
          type: string
        limit:
          default: 25
          maximum: 0
          minimum: 0
          type: number
        order:
          default: desc
          enum:
          - desc
          - asc
          type: string
        previous_uri:
          type: string
        next_uri:
          type: string
      type: object
    Account:
      example:
        balance:
          amount: amount
          currency: currency
        updated_at: updated_at
        resource: resource
        ready: true
        resource_path: resource_path
        name: name
        created_at: created_at
        currency: currency
        id: id
        type: type
        primary: true
      properties:
        id:
          type: string
        name:
          type: string
        primary:
          type: boolean
        type:
          type: string
        currency:
          type: string
        balance:
          $ref: '#/components/schemas/Account_balance'
        created_at:
          type: string
        updated_at:
          type: string
        resource:
          type: string
        resource_path:
          type: string
        ready:
          type: boolean
      required:
      - balance
      - created_at
      - currency
      - id
      - name
      - primary
      - ready
      - resource
      - resource_path
      - type
      - updated_at
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorResponse_errors'
          type: array
      required:
      - errors
      type: object
    User:
      example:
        avatar_url: avatar_url
        profile_url: profile_url
        resource: resource
        profile_location: profile_location
        resource_path: resource_path
        name: name
        id: id
        profile_bio: profile_bio
        username: username
      properties:
        id:
          type: string
        name:
          type: string
        username:
          type: string
        profile_location:
          type: string
        profile_bio:
          type: string
        profile_url:
          type: string
        avatar_url:
          type: string
        resource:
          type: string
        resource_path:
          type: string
      type: object
    Account_balance:
      example:
        amount: amount
        currency: currency
      properties:
        amount:
          type: string
        currency:
          type: string
      required:
      - amount
      - currency
    ErrorResponse_errors:
      properties:
        id:
          type: string
        message:
          type: string
      required:
      - id
      - message
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: CB-ACCESS-KEY
      type: apiKey
